@using BootstrapSupport
@if (TempData.ContainsKey(Alerts.ATTENTION))
{
    <div class="alert alert-block">
        <a class="close" data-dismiss="alert" href="#">x</a>
        <h4 class="alert-heading">Attenion!</h4>
        @TempData[Alerts.ATTENTION]
    </div>
}
@foreach(string key in Alerts.ALL)
    {
        if (TempData.ContainsKey(key))
         {
             <div class="alert alert-@key">
                 @TempData[key]
             </div>
         }
    }
                